*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    /* background-color: rgb(27, 172, 250); */
    background-image: linear-gradient(to bottom left,white,blue ,black );
    background-repeat: no-repeat;
    background-size: cover;
   
}
.box{
    width: 50%;
    margin: 100px auto;
    background-color: turquoise;
    padding: 10px;
    /* left right bottom top blurradius color */
    box-shadow: 10px 10px 10px black;
}
p{
    color: white;
    font-size: 40px;
    text-shadow: 2px 2px 5px black;
}