*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #addb07;
}
.container{
    /* border: 2px solid black; */
    width: 70%;
    margin: 100px auto;
}
.box{
    padding: 30px;

    
}
img{
    height: 170px;
    width: 170px;
}
.item1{
    background-color: red;
    width:50%;
    float: left;
    height: 300px;
}
.item2{
    background-color: rgb(76, 0, 255);
    width:50%;
    float: right;
    height: 300px;
}
.item1 img{
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}