* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    
  background-image: url(../assets/boatman-punting-boat-river-arashiyama-autumn-season-along-river-kyoto-japan.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: left center; */
  /* background-position: center; */
  background-color: rgba(240, 217, 190, 0.54);
  background-blend-mode: multiply;
}
div {
  width: 25%;
  background-color: rgba(200, 194, 194, 0.718);
  padding: 30px;
  margin: 200px auto;
  border-radius: 8px;
  border: none;
  box-shadow: 2px 2px 10px rgb(14, 14, 14);
  backdrop-filter: blur(2px);
}
h1{
    text-align: center;
    padding: 20px;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    color: white;
}

input{
    display: block;
    width: 100%;
    padding: 10px;
   margin-top: 10px;
   border-radius: 5px;
   border: none;
   
}

/* attribute selector for checkbox  */
input[type="checkbox"]{
   display: inline;
   width: auto;
   
}
.btn{
    background-color: rgba(233, 88, 52, 0.904);
    font-weight: 400;
    font-size: 18px;
    color: white;
}